

<div class="list-group mt-5" >
    <p class="btn-success text-center mx-5 btn" style="border-radius: 15px;">Renkler</p>
    <div class="text-center" *ngIf="dataLoaded==false">
      <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <table *ngIf="dataLoaded!=false">
      <tr class="mt-5 " *ngFor="let color of colors">
        <label class="mx-3" >
        <input (click)="setCurrentColor(color)" [routerLink]="getCurrentColor(color)" class="form-check-input me-1" type="checkbox" value="" [checked]="getCheckBox(color)" />
          {{color.colorName}}
        </label>
      </tr>
    </table>
  </div>
  