<div class="text-center" *ngIf="dataLoaded==false">
    <div class="spinner-grow text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>


  <table class="table mt-3"  *ngIf="dataLoaded!=false">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Kiralayan</th>
        <th scope="col">Marka</th>
        <th scope="col">Model</th>
        <th scope="col">Renk</th>
        <th scope="col">Şirket Adı</th>
        <th scope="col">Fiyat</th>
        <th scope="col">Kiralama Tarihi</th>
        <th scope="col">Teslim Tarihi</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentaldetails" >
            <td>{{rental.id}}</td>
            <td>{{rental.customerFirstName}} {{rental.customerLastName}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.carDescription}}</td>
            <td>{{rental.colorName}}</td>
            <td>{{rental.companyName}}</td>
            <td>{{rental.dailyPrice}}$ </td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
    </tbody>
  </table>