<app-navi></app-navi>
<div class="ms-5">
  <div class="row">
    <div class="col-md-9">
      <app-car></app-car>
    </div>
    <div class="col-md-3">
      <div class="row">
        <app-brand></app-brand>
      </div>
      <div class="row">
        <app-color></app-color>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <app-user></app-user>
    </div>
    <div class="col-md-9">
      <app-rental></app-rental>
    </div>
  </div>
  
  <router-outlet></router-outlet>
</div>
