<div class="text-center mt-5" *ngIf="dataLoaded==false">
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4 mt-3 mb-5">
  <div class="col" *ngFor="let cardetail of carDetails" routerLink="/cars/cardetail/{{cardetail.id}}">
    <div class="card">
      <img *ngIf="!cardetail.carImages[0]" height="300px" src="{{ defaultPath }}\images\logo.jpg" class="card-img-top" alt="Resim Yüklenemedi" />
      <img *ngIf="cardetail.carImages[0]" height="300px" src="{{ defaultPath }}{{ cardetail.carImages[1] }}" class="card-img-top" alt="Resim Yüklenemedi" />
      <div class="card-body">
        <div class="row">
          <h5 class="card-title">
            {{ cardetail.brandName }} {{ cardetail.description }}
            <span class="float-end" style="color: red;" > {{ cardetail.dailyPrice }}$ </span>
          </h5>
        </div>
        <p class="card-text">Yıl : {{ cardetail.modelYear }}</p>
        <p class="card-text">Renk : {{ cardetail.colorName }} </p>
      </div>
    </div>
  </div>
</div>
